<div class="row justify-content-center mx-0">
  <h1 class="mb-5"><strong>Come play with us!</strong></h1>
  <h4 class="text-center">Have you ever played Gama Game? It's a game of general knowledge questions and answers. It used to be played at #gamagame, an IRC (Internet Relay Chat) channel in the Brasnet network, which no longer exists.</h4>
  <div class="col-3">
    <%= link_to create_game_path, class: "btn btn-lg btn-block btn-success mt-5" do %>
      <h2 class="my-0">Start</h2>
    <% end %>
  </div>
</div>
