body {
  background-color: #EFF3F6;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
  background-color: #2EA1F8;
  a {
    color: white !important;
  }
}

.question-option {
  background-color: #E6EAEE;
}

.game-score {
  color: #B54C0D;
  font-size: 3rem;
}